<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IRacTypeConfig" value="Undead"/>
    <add key="IRacTypeConfigReflection" value="FactoryPattern.War3.Service.NE,FactoryPattern.War3.Service"/>
    <!--<add key="IRacTypeConfigReflection" value="FactoryPattern.War3.Service.Human,FactoryPattern.War3.Service"/>-->
  </appSettings>
</configuration>