
@{
    ViewData["Title"] = "Third Index";
}


<div class="text-center">
    <h1 class="display-4">Welcome Third Index</h1>
   
    <h2>
        Current time: @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss fff")
    </h2>
    <h2>
       First time initialization time: @base.ViewBag.Now
    </h2>
</div>