
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $.ajax({
            url: "https://localhost:44355/api/product",
            type: "get",
            success: function(data) {
                data.forEach(d => {
                    $("<tr><td>"+d.Id+"</td><td>"+d.ProName+"</td><td>"+d.CategoryId+"</td><td>"+d.Price+"</td></tr>").appendTo($("#tb1"))
                })
            }
        })

    </script>
</head>
<body>
<div>
    <table id="tb1"></table>
</div>
</body>
</html>
