
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fifth Info</title>
</head>
<body>
<h3>@base.ViewBag.Users</h3>
</body>
</html>
