<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Unity.Interception.Configuration"/>
    
    <containers>
      <container name="testContainer1">
        <extension type="Interception"/><!-- for AOP-->

        <!--AOP for registering Iphone-->
        <register type="P23.Course.IOC.ServiceInterface.Itelephone,P23.Course.IOC.ServiceInterface" mapTo="P23.Course.IOC.Service.IPhone,P23.Course.IOC.Service">
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="P23.Course.IOC.Framework.AOP.LogBeforeBehavior,P23.Course.IOC.Framework"/>
        <interceptionBehavior type="P23.Course.IOC.Framework.AOP.ParameterCheckBehavior,P23.Course.IOC.Framework"/>
        <interceptionBehavior type="P23.Course.IOC.Framework.AOP.LogAfterBehavior,P23.Course.IOC.Framework"/>
        <lifetime type="transient"/>
        </register>

        <register type="P23.Course.IOC.ServiceInterface.Itelephone,P23.Course.IOC.ServiceInterface" mapTo="P23.Course.IOC.Service.AndroidPhone,P23.Course.IOC.Service" name="Android"/>
        <register type="P23.Course.IOC.ServiceInterface.IHeadphone,P23.Course.IOC.ServiceInterface" mapTo="P23.Course.IOC.Service.Headphone,P23.Course.IOC.Service"/>
        <register type="P23.Course.IOC.ServiceInterface.IMicrophone,P23.Course.IOC.ServiceInterface" mapTo="P23.Course.IOC.Service.Microphone,P23.Course.IOC.Service"/>
        <register type="P23.Course.IOC.ServiceInterface.IPower,P23.Course.IOC.ServiceInterface" mapTo="P23.Course.IOC.Service.Power,P23.Course.IOC.Service"/>

        <register type="P23.Course.IOC.IBLL.IBaseBll,P23.Course.IOC.IBLL" mapTo="P23.Course.IOC.BLL.BaseBll,P23.Course.IOC.BLL">
          <constructor>
            <param name="baseDal" type="P23.Course.IOC.IDAL.IBaseDAL,P23.Course.IOC.IDAL"/>
            <!--type name and full DLL name can help targeting unique class-->
          </constructor>
        </register>

        <register type="P23.Course.IOC.IDAL.IBaseDAL,P23.Course.IOC.IDAL" mapTo="P23.Course.IOC.DAL.BaseDAL,P23.Course.IOC.DAL"/>
        <register type="P23.Course.IOC.ServiceInterface.IDisplay,P23.Course.IOC.ServiceInterface" mapTo="P23.Course.IOC.Service.AppleDisplay,P23.Course.IOC.Service"/>

        <!--for value types-->
        <register type="P23.Course.IOC.ServiceInterface.IHeadphone,P23.Course.IOC.ServiceInterface" mapTo="P23.Course.IOC.Service.ApplePod,P23.Course.IOC.Service" name="earpod">
          <constructor>
            <param name="type" type="System.String" value="Pro version"/>
          </constructor>
        </register>
        
        <!--for Generic-->
        <register type="P23.Course.IOC.IDAL.IDBContext`1,P23.Course.IOC.IDAL" mapTo="P23.Course.IOC.DAL.DBContextDAL`1,P23.Course.IOC.DAL"/>


      </container>
    </containers>
  </unity>
</configuration>






