<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Unity.Interception.Configuration"/>
    
    <containers>
      <container name="WebApiContainer">
        <extension type="Interception"/><!-- for AOP-->

        <!--AOP for registering Iphone-->
        <register type="P31.Course.SOA.Interface.IUserService,P31.Course.SOA.Interface" mapTo="P31.Course.SOA.Service.UserService,P31.Course.SOA.Service">
        <!--<interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="P23.Course.IOC.Framework.AOP.LogBeforeBehavior,P23.Course.IOC.Framework"/>
        <interceptionBehavior type="P23.Course.IOC.Framework.AOP.ParameterCheckBehavior,P23.Course.IOC.Framework"/>
        <interceptionBehavior type="P23.Course.IOC.Framework.AOP.LogAfterBehavior,P23.Course.IOC.Framework"/>
        <lifetime type="transient"/>-->
        </register>

        

      </container>
    </containers>
  </unity>
</configuration>






