<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
  <!--<add name="mvc5" connectionString="Data Source=netcrmau;Initial Catalog=backup;User ID=dev;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="mvc5"  connectionString="data source=.;initial catalog=advanced7;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<appSettings>
<add key="IndexPath" value="D:\data\advanced12\index\"/>

</appSettings>
</configuration>