<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      
      <container name="myContainer">
        <extension type="Interception"/>
        <register type="System.Data.Entity.DbContext,EntityFramework" mapTo="P33.Course.Model.JDDbContext,P33.Course.Model"/>

        <register type="P34.Course.Business.Interface.IUserService,P34.Course.Business.Interface" mapTo="P34.Course.Business.Service.UserService,P34.Course.Business.Service">
        <interceptor type="InterfaceInterceptor"/>
          <!--<interceptionBehavior type="P35.Course.EF_IOC_Test.AOP.LogBeforeBehavior, P35.Course.EF_IOC_Test"/>
          <interceptionBehavior type="P35.Course.EF_IOC_Test.AOP.LogAfterBehavior, P35.Course.EF_IOC_Test"/>-->
        </register>

        <register type="P34.Course.Business.Interface.ICompanyService,P34.Course.Business.Interface" mapTo="P34.Course.Business.Service.CompanyService,P34.Course.Business.Service">
          <interceptor type="InterfaceInterceptor"/>
          <!--<interceptionBehavior type="P35.Course.EF_IOC_Test.AOP.LogBeforeBehavior, P35.Course.EF_IOC_Test"/>
          <interceptionBehavior type="P35.Course.EF_IOC_Test.AOP.LogAfterBehavior, P35.Course.EF_IOC_Test"/>-->
        </register>


        <register type="P34.Course.Business.Interface.IUserCompanyService,P34.Course.Business.Interface" mapTo="P34.Course.Business.Service.UserCompanyService,P34.Course.Business.Service">
          <interceptor type="InterfaceInterceptor"/>
          <!--<interceptionBehavior type="P35.Course.EF_IOC_Test.AOP.LogBeforeBehavior, P35.Course.EF_IOC_Test"/>
          <interceptionBehavior type="P35.Course.EF_IOC_Test.AOP.LogAfterBehavior, P35.Course.EF_IOC_Test"/>-->
        </register>

      </container>

    </containers>
  </unity>
  <connectionStrings>
    <add name="JDDbContext" connectionString="data source=.;initial catalog=advanced7;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>