@using P37.Course.Web.Core.Models;
@model List<CurrentUser>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexList For First</title>
</head>
<body>
    <div>
        <h1>  Index List for First </h1>
        
        
        @foreach (CurrentUser u in @Model)
        {
            <h3> the user name is : @u.Name Id is : @u.Id </h3>
            
        }



    </div>
</body>
</html>
