
@{
    ViewBag.Title = "TempDataShow";
}

<h2>TempDataShow</h2>

<h3>ViewData.TestProp: @ViewData["TestProp"]</h3>

<h3>ViewBag.TestProp: @ViewBag.TestProp</h3>

<h3>TempData.TestProp: @TempData["TestProp"]</h3>










