@using P37.Course.Web.Core.Models

@if (base.Context.Session["CurrentUser"] != null && base.Context.Session["CurrentUser"] is CurrentUser)
{
    using (Html.BeginForm("Logout", "Fifth", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " +((CurrentUser)Context.Session["CurrentUser"]).Name +"!", 
                    "Index","Fifth",null,
                    new {title = (  (CurrentUser)Context.Session["CurrentUser"]   ).Name }   )
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"> Log Out </a>
            </li>

        </ul>

    }

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Log in Button", "Login","Fifth"
                ,null, new {id="loginLink"})

        </li>
    </ul>
}


