
@{
    ViewBag.Title = "Index";
}

<h2>Index Second!</h2>

@section scripts{
    <script>
        $(function () {
            //alert("123");
        })
    </script>
}

<br/>

<!--use partial page-->
<p>same to ascx in webform</p>











