
@{
    ViewBag.Title = "Index";
}

<h2>Index Second!</h2>

@section scripts{
    <script>
        $(function () {
            //alert("123");
        })
    </script>
}

<br />


<!--use partial page-->
<p>same to ascx in webform</p>

<p>Html.RenderPartial : insert a view at nominated location, return void, method should be in {}  </p>
@{Html.RenderPartial("PartialPage", "this is Html.RenderPartial");}

<br />
<p> Html.Partial return string </p>
@Html.Partial("PartialPage", "this is Html.Partial")



<!--use Action page-->













