@using P37.Course.MVC5.Utility

@{
    ViewBag.Title = "Index";
}

<h2>Index Second!</h2>

@section scriptsXXX{
    <script>
        $(function () {
            alert("123");
        })
    </script>
}

<br/>


<!--use partial page, no backend logic in action-->
<p>same to ascx in webform</p>

<p>Html.RenderPartial : insert a view at nominated location, return void, method should be in {}  </p>
@{Html.RenderPartial("PartialPage", "this is Html.RenderPartial");}

<br/>
<p> Html.Partial return string </p>
@Html.Partial("PartialPage", "this is Html.Partial")



<!--use Action page-->
@Html.Br()

<p>Html.RenderAction is to put in a view and return void, method should be in {}  </p>

@{Html.RenderAction("ChildAction", "Second", new {name=" from Html.RenderAction()"});}

@Html.Br()

<p>Html.Action return string, put into current location, processed by action   </p>

@Html.Action("ChildAction", "Second", new { name = "from Html.Action()" })






