
@{
    ViewBag.Title = "Handler";
}

<h2>Handler</h2>
<h3>@base.ViewBag.HttpHandler</h3>

<p>
    <img src="/img/1.png" />
</p>

<p>
    <img src="https://file.livingstone.com.au/images/IMG/0/Gold_and_Silver.png">
</p>


