@using P37.Course.Web.Core

@{
    ViewBag.Title = "ViewShow";
}

    <h2> ViewShow in Chrome View</h2>


<div>current View Type: @this.GetType().AssemblyQualifiedName  </div>


<div>    @{base.Response.Write("Write in Response"); }            </div>

<div>   BuildManager: @ViewBag.ViewClass   </div>

<div> the assembly loaded for current view: </div>

@Html.ListViewAssemblies()

