<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="divHead" style="width: 1000px; background-color: yellow; height:150px"></div>

<div id="divContent" style="background-color: green;height:150px">content 

    <div id="divLeft" style="width: 200px; border: 1px solid;">Left div content </div>

    <div id="divRight" style="width: 300px; border: 1px solid;">Right div content</div>
    </div>

    <div id="divFoot" style="background-color: red">bottom</div>
</body>
</html>