
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<div>
    
    <form action="/Admin/Main">
    
        <input type="text"/>
    
     <input type="submit" value="submit"/>
    
    
    
    </form>

</div>
</body>
</html>
