<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="divHead" style="width: 1000px; background-color: yellow; height:150px">
        <span style="margin: 10px;"> topic  1 </span>
        <span style="margin: 10px;"> topic  2 </span>
        <span style="margin: 10px;"> topic  3 </span>
    </div>
    <div id="divContent" style="background-color: green;height:150px">

        <div id="divLeft" style=" border: 1px solid; height: 100px;width: 200px; display: inline;float: left;">Left div content </div>

        <div id="divCenter" style="border: 1px solid; display: inline;">center div content </div>

        <div id="divRight" style="border: 1px solid;width: 300px; float: right;">Right div content</div>

    </div>

    <div id="divFoot" style="background-color: red">bottom</div>
</body>
</html>