
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using P37.Course.Web.Core.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users Index</title>
</head>
<body>
    <div>
        <h3>user info: </h3>
        @{
            CurrentUser user = null;
            if (Session["users"] != null)
            {
                user = Session["users"] as CurrentUser;
                if (user != null)
                {
                    <h3>user Id: @user.Id </h3>;
                    <h3>user Id: @user.Account</h3>;
                }

            }


        }


    </div>
</body>
</html>
