
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users Login</title>
</head>
<body>

<form method="post" action="userslogin">
    account:<input type="text" name="account"/><br/>
    password:<input type="text" name="pwd"><br/>
    <input type="submit" value="submitValue">
</form>

</body>
</html>
