
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users Login</title>
</head>
<body>

<form method="post" action="~/Users/UserLoginCheck">
    account:<input type="text" name="account"/><br/>
    password:<input type="text" name="password"><br/>
    <input type="submit" value="submitValue">
</form>
    
    @Html.Partial("_advertisement");



</body>
</html>
