
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    
    <style type="text/css">
        .input_success {
            background-color: lightgreen;
        }
        .input_error {
            background-color: coral;
        }
    </style>
    <script type="text/javascript">
        $(loadFunction);

        function loadFunction() {

            var result = false;

            $("#Account").focus(function () {

              

            });

            $("#Account").blur(function() {
                var account = $(this);

                if (account.val() == "") {
                    account.removeClass("input_success").addClass("input_error");
                    result = false;
                    //this.focus();
                    $("#op_account").css("color", "red").html("user account cannot be empty");

                } else {
                    account.removeClass("input_error").addClass("input_success");
                    result = true;
                    $("#op_account").css("color", "greenyellow").html("success");
                }
            });


            $("#Email").blur(function () {
                var email = $(this);

                if (email.val() == "") {
                    email.removeClass("input_success").addClass("input_error");
                    result = false;
                    //this.focus();
                    $("#op_email").css("color", "red").html("Email cannot be empty");
                    return;
                }

                $.ajax({
                    url:"CheckUserEmail",
                    data: { "Email": email.val()},
                    type: "post",
                    dataType: "text",
                    success: function(data) {
                        alert(data);
                        if (data == "1") {
                            email.removeClass("input_error").addClass("input_success");
                            $("#op_email").css("color", "greenyellow").html("email is valid");
                        }

                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });


            });





            $("#btnSubmit").click(function () {

                $("input[name='Datas']").each(function() {
                    alert(this.checked);
                });


                return result;
            });


        }
    
    </script>

</head>
<body>
<form action="Register" method="post">
    <table>
        <tr>
            <td>Account:</td>
            <td><input type="text" name="Account" id="Account"></td>
            <td id="op_account"></td>
        </tr>
        <tr>
            <td>Pass:</td>
            <td><input type="password" name="Password" id="Pwd"></td>
            <td id="op_pwd"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="Email" id="Email"></td>
            <td id="op_email"></td>
        </tr>
        <tr>
            <td>State:</td>
            <td>
                0: <input type="radio" name="State" value="false" />
                1: <input type="radio" name="State" value="true" />
            </td>
            <td></td>
        </tr>
        @*name must be same to the class's attribute, use for mapping*@
        <tr>
            <td>CreateTime:</td>
            <td><input type="text" name="CreateTime" id="Wdate" onClick="WdatePicker()"></td>
            <td></td>
        </tr>


        <tr>
            <td>Company ID:</td>
            <td>
                0: <input type="checkbox" name="Datas" value="0" />
                1: <input type="checkbox" name="Datas" value="1" />
                2: <input type="checkbox" name="Datas" value="2" />
                3: <input type="checkbox" name="Datas" value="3" />
            </td>
            <td></td>
        </tr>


        <tr>
            <td colspan="3">
                <input type="submit" value="register" id="btnSubmit" />
            </td>
        </tr>




    </table>
</form>
</body>
</html>
