
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<form action="Register" method="post">
    <table>
        <tr>
            <td>Account:</td>
            <td><input type="text" name="Account" id="Account"></td>
            <td id="op_account"></td>
        </tr>
        <tr>
            <td>Pass:</td>
            <td><input type="password" name="Password" id="Pwd"></td>
            <td id="op_pwd"></td>
        </tr>

        <tr>
            <td>State:</td>
            <td>
                0: <input type="radio" name="State" value="false" />
                1: <input type="radio" name="State" value="true" />
            </td>
            <td></td>
        </tr>
        @*name must be same to the class's attribute, use for mapping*@
        <tr>
            <td>CreateTime:</td>
            <td><input type="text" name="CreateTime" id="Wdate" onClick="WdatePicker()"></td>
            <td></td>
        </tr>


        <tr>
            <td>Company ID:</td>
            <td>
                0: <input type="checkbox" name="Datas" value="0" />
                1: <input type="checkbox" name="Datas" value="1" />
                2: <input type="checkbox" name="Datas" value="2" />
                3: <input type="checkbox" name="Datas" value="3" />
            </td>
            <td></td>
        </tr>


        <tr>
            <td colspan="3">
                <input type="submit" value="register" />
            </td>
        </tr>




    </table>
</form>
</body>
</html>
