
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<form action="Register" method="post">
    <table>
        <tr>
            <td>Account:</td>
            <td><input type="text" name="Account" id="Account"></td>
            <td id="op_account"></td>
        </tr>
        <tr>
            <td>Pass:</td>
            <td><input type="password" name="Pwd" id="Pwd"></td>
            <td id="op_pwd"></td>
        </tr>

        <tr>
            <td>State:</td>
            <td>
                0: <input type="radio" name="state" value="0"/>
                1: <input type="radio" name="state" value="1"/>
            </td>
            <td></td>
        </tr>
        
        <tr>
            <td>Birthday:</td>
            <td><input type="text" name="Birthday" id="Wdate" onClick="WdatePicker()"></td>
            <td></td>
        </tr>
        
        
        
        
        
        
        
        
        
        


    </table>
</form>
</body>
</html>
