
@{
    Layout = null;//"~/Views/Shared/_Layout.cshtml";
}
@using P37.Course.Web.Core.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users Search Page</title>
    
    <style type="text/css">

        div{ width: 450px;margin: auto;}
        #divLogo{ margin-top: 80px;}
        ul{ margin: 0px;padding: 0px;list-style-type: none;}
        ul li{ cursor: pointer;}

    </style>
    <script type="text/javascript"  src="~/Scripts/jquery-3.4.1.min.js"></script>
    
    <script type="text/javascript">
        $(myLoadFunction);


        function myLoadFunction() {

            
            $("#txtContent").keyup(
                function () {

                    //show input value in page, "this"  is the current object. 
                    $("#txtShowSearch").html("" + this.value + "");

                    //get typed in content in search box
                    var username = $("#txtContent").val();

                    //if there is no element to search, clear the list and return
                    if (username == "") {

                        clearSearchResult();
                        return;
                    }


                    //ajax with json parameter
                    $.ajax({
                        url:"/Users/GetUserNames",
                        type: "post",//safe way to post,get is default but get can not upload files
                        data: { "username": username },

                        datatype: "json", // ajax will receive some data from backend and call the function 
                        success: function (dataRec) {

                            clearSearchResult();

                            //iterate each element and append to display area
                            $.each(dataRec, function (i, item) {

                                $("#txtShowSearchResult").append("ID: " + item.Id + " Name: " + item.Name + " Account: " + item.Account + ", ");

                                $("#ullist").append("<li onclick='setValue(this)' >"+item.Name+"</li>");

                            });



                        },
                        error: function(msg) {
                            alert("error information"+ msg);
                        }
                    });
                }
            );
        };

        function clearSearchResult() {
            $("#txtShowSearchResult").html("");
            $("#ullist").html("");
        }

        function setValue(obj) {
            $("#txtContent").val(obj.innerText);//obj is javascript object, so use obj.innerText. jQuery: obj.text();
            clearSearchResult();
        }



    </script>
    


</head>
<body>
    <div>
        <h5>user log in info: </h5>
        @{
            CurrentUser user = null;
            if (Session["CurUser"] != null)
            {
                user = Session["CurUser"] as CurrentUser;
                if (user != null)
                {
                    <h5>user Id: @user.Id </h5>;
                    <h5>user Id: @user.Account</h5>;
                }
            }
        }
        <h5>search: <span id="txtShowSearch"></span></h5>

        <h5>search result: <span id="txtShowSearchResult"></span></h5>
    </div>

<div>

    <div id="divLogo">
        <img src="~/img/google.png" style="width: 200px"/>
    </div>

    <div id="divSearch">@*  style="text-align: center;"   all in center*@
        <input type="text" id="txtContent" style="width: 300px">
        <input type="button" value="Search" style="background-color: blue; color: white;" />
        
        @*<ul>
            <li>test1</li>
            <li>test2</li>
        </ul>*@
        
        <ul id="ullist"></ul>


    </div>

</div>

</body>



</html>
