<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
  <section name ="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
</configSections>
<unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.COnfiguration.InterceptionConfigurationExtension
                      , Unity.Interception.Configuration"/>
    <containers>
      <container name="aopContainer">
        <extension type="Interception"/>
        <register type="P18.Course.MyAOP.UnityAOPFolder.IUnityUserProcessor,MyAOP" mapTo="P18.Course.MyAOP.UnityAOPFolder.IUnityUserProcessor,MyAOP">
          
          <interceptor type="aopContainer"/>
          <interceptorBehavior type="P18.Course.MyAOP.UnityAOPFolder.MonitorBehavior"/>
          <interceptorBehavior type="P18.Course.MyAOP.UnityAOPFolder.LogBeforeBehavior"/>
          <interceptorBehavior type="P18.Course.MyAOP.UnityAOPFolder.ParameterCheckBehavior"/>
          <interceptorBehavior type="P18.Course.MyAOP.UnityAOPFolder."/>
          <interceptorBehavior type="P18.Course.MyAOP.UnityAOPFolder."/>
          <interceptorBehavior type="P18.Course.MyAOP.UnityAOPFolder."/>

        </register>
      </container>
    </containers>
</unity>
</configuration>