<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IDBHelperConfig" value ="P01.Course.DB.MySql.MySqlHelper,P01.Course.DB.MySql"/>
  </appSettings>
</configuration>