
@{
    ViewBag.Title = "ShowTestFilters Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowTestFilters Page</title>
</head>
<body>
    <div>
        <h2>ShowTestFilters Page</h2>
    </div>
</body>
</html>
