
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>product lit</title>
</head>
<body>



    <form method="post" action="details">



</body>
</html>
