
@{
    Layout = null;
}
@using P37.Course.Web.Core.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductList</title>
</head>
<body>

user info: 
@{
    CurrentUser user = null;
    if (Session["users"] != null)
    {
        user = Session["users"] as CurrentUser;
        @user.Id
        @user.Account
    }
}

<br/>
<a href="details/1001"> got to product by details/1001 </a>
<br/>
<a href="details?id=1002"> got to product by details?id=1002 </a>


<form method="post" action="details">
    product code: <input type="text" name="id"> <br/>
    <input type="submit" value="submitValue">
</form>

</body>
</html>
