
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductList</title>
</head>
<body>



    

    <a href="details/1001"> got to details/1001  </a>
    <a href="details?id=1002"> got to details?id=1002 </a>

    <form method="post" action ="details">
        product code: <input type="text" name="id"> <br/>
    
        </form>

</body>
</html>
