
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>HTML Index</title>
    </head>
    <body>
        
    <a id="head" href="#bottom">go to body bottom position</a>
    @*<font size="20"><strong>font content</strong></font>*@

    <img height="100" src="/img/1.png" alt="alternative text content for img" title="pic title"/>
    
    <br>

    <img src="/img/2iphone.png" align="top" width="100px" />iphone
    
    
    <h1 style="font-size: 50px; color:black;"> h1 header</h1>
        
    test new line<br/>new line
        

    <hr width="200px" />
        
    <a href="http://www.google.com"> google </a>

    <a href="/HTML/News" target="_self">news page</a>

    <a href="/img/1.png" target="_blank">picture </a>

    <br/>
    <p style="height: 1000px;"> </p>

    <a id="middle" href="/html/news#newsBottom">go to news bottom</a>

    <p style="height: 1000px;"> </p>

    <a id="bottom" href="#head">to to body head position</a>
    </body>
</html>
