
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>HTML Index</title>
    </head>
    <body bgcolor="antiquewhite" style="margin: 0px;">

        <a id="head" href="#bottom">go to body bottom position</a>
        @*<font size="20"><strong>font content</strong></font>*@

        <img height="100" src="/img/1.png" alt="alternative text content for img" title="pic title" />

        <br>

        <img src="/img/2iphone.png" align="top" width="100px" />iphone


        <h1 style="font-size: 50px; color:black;"> h1 header</h1>

        test new line<br />new line


        <hr width="200px" />

        <a href="http://www.google.com"> google </a>
        <br />
        <a href="/HTML/Register" target="_self">Register page</a>
        <br />
        <a href="/img/1.png" target="_blank">picture </a>

        <br />

        <ol type="a">
            <li>ordered item a</li>
            <li>ordered item b</li>
            <li>ordered item c</li>
        </ol>

        <ul type="circle">
            <li>unordered item a</li>
            <li>unordered item b</li>
            <li>unordered item c</li>
        </ul>

        <ul style="list-style: none; padding: 0px;">
            <li>unordered item a</li>
            <li>unordered item b</li>
            <li>unordered item c</li>
        </ul>
        <!--defined lines, title style="float: left"-->

        <dl>
            <dt style="float: left"><img src="/img/2iphone.png" width="100px" />title 1 </dtstyle="float:>
            <dd>item a</dd>
            <dd>item b</dd>
        </dl>

        <dl>
            <dt>title 2 </dt>
            <dd>item a</dd>
            <dd>item b</dd>
        </dl>




        <marquee scrolldelay="200" width="500" bgcolor="grey" direction="right">
            <a href="http://www.apple.com"><img src="/img/2iphone.png" width="100px" /></a>
        </marquee>



        <table border="1" width="50%" cellpadding="5" cellspacing="5">
            <tr>
                <th>name</th>
                <th>age</th>
                <th>sex</th>
            </tr>
            <tr>
                <td>tom</td>
                <td>18</td>
                <td rowspan="2">male</td>
            </tr>
            <tr>
                <td>steven</td>
                <td>18</td>

            </tr>
            <tr>
                <td>Jerry</td>
                <td>18</td>
                <td>Female</td>
            </tr>
            <tr>
                <td colspan="3">sum</td>
            </tr>
        </table>
        <p style="height: 1000px;"> </p>

        <a id="middle" href="/html/Register#pageBottom">go to page bottom</a>

        <p style="height: 1000px;"> </p>

        <a id="bottom" href="#head">to to body head position</a>
    </body>
</html>
