
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HTML Index</title>
</head>
<body>

@*<font size="20"><strong>font content</strong></font>*@

<img height="100" src="/img/1.png"/>
<h1 style="font-size: 50px; color:black;"> h1 header</h1>
    
test new line<br/>new line
    

<hr width="200px" />


</body>
</html>
