
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News</title>
</head>
<body>
<div>
    <h1>News Page </h1>
    
    <p style="height: 2000px"></p>
    
    
    <a id="newsBottom">news bottom</a>
</div>
</body>
</html>
