
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register page</title>
    <script type="text/javascript">
        alert("script in script tag");

        var sexValue1 =document.getElementById("uniqueId3");//undefined

        //var sex = document.getElementsByName("sex");

        document.write("document write in script tag " + sexValue1 + typeof (sexValue1));

        ////execute when page compile finish.comment out for now.
        //window.onload = function() {//anonymous function
        //    var sex = document.getElementById("uniqueId3");//show male
        //    alert("page finish, uniqueId3 is " + sex.value);
        //    document.getElementById("divAd").style.display = "block";
        //}

        function check() {
            var ss = document.getElementById("uniqueId4");
            alert(ss.value+"  this is js function in script");
        }
        function promptWindow() {
            var result = prompt("notice", "confirm or not");
            alert(result);
        }

        function confirmFunction() {
            var result = window.confirm("do you want to update? ");
            alert("you select " + result);
            if (result) {
                alert("update successfully!!!");
            } else {
                window.alert("no update");
            }
        }

        function closeTab() {
            if (confirm("close this tab? ")) {
                window.location.href = "about:blank";
                window.close();
            }
        }

        function OpenNewPage() {
            window.open("/HTML/Index", "adv", "height=500,width=800");
            window.open("/HTML/Index");
        }

        //setTimeout("confirmFunction();", 10000);//just delay 10 seconds

        //var IntMethod =setInterval("IntervalPassed()",5000);

        //function IntervalPassed() {
        //    var result = window.confirm("some seconds passed, just alert");
        //    if (result) {
        //        window.clearInterval(IntMethod);
        //    }
        //}

        function back() {
            history.back();
        }

        //validation
        function checkReg() {
            var username = document.getElementById("uniqueId1_name");
            if (username.value == "") {
                //alert("user name cannot be null");

                var div = document.createElement("div");
                div.innerHTML = "<h1>user name cannot be null</h1>";
                document.getElementById("headerTopic").appendChild(div);

                username.focus();
                return false;
            }
            var hobbys = document.getElementsByName("hobby");
            for (var i = 0; i < hobbys.length; i++) {
                if (hobbys[i].checked) {
                    alert(hobbys[i].value);
                }
            }



            var numOfInput = document.getElementsByTagName("input");
            alert("total: "+ numOfInput.length);

            return false;
        }


    </script>
</head>
<body>
<div>

    <h5 id="headerTopic">Register Page and form</h5>

    <form action="register.aspx" method="post">
        <table border="1" width="500px">
            <tr>
                <th colspan="2">Register</th>
            </tr>

            <tr>
                <td>User Name: </td>
                <td><input type="text" name="group1" id="uniqueId1_name" width="20" onclick="javascript:alert(' on click event in tag!!!');"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="group1" id="uniqueId2" width="20" onfocus="check();promptWindow();"></td>
            </tr>
            <tr>
                <td>Occupation: </td>
                <td><input type="text" name="group1" id="uniqueId9" width="20" onfocus="confirmFunction();"></td>
            </tr>
            <tr>
                <td>Sex: </td>
                <td>
                    Male<input type="radio" name="sex" id="uniqueId3" value="Male"/>
                    Female<input type="radio" name="sex" id="uniqueId4" value="Female"/>
                    hide<input type="radio" name="sex" id="uniqueId5" value="hide" checked="checked"/>
                </td>
            </tr>
            <tr>
                <td>Hobby: </td>
                <td>
                    Football<input type="checkbox" name="hobby" id="uniqueId6" value="Football" checked="checked"/>
                    Basketball<input type="checkbox" name="hobby" id="uniqueId7" value="Basketball"/>
                    SoccerBall<input type="checkbox" name="hobby" id="uniqueId8" value="SoccerBall"/>
                </td>
            </tr>
            <tr>
                <td>City: </td>
                <td>
                    <select name="city">
                        <option selected="selected">---select---</option>
                        <option value="1001">Rockdale</option>
                        <option value="1002">Rosebery</option>
                        <option value="1003">Mascot</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>notes:</td>
                <td>
                    <textarea name="remark" rows="10" cols="20">
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>picture: </td>
                <td>
                    <input type="file" name="fImage">
                </td>
            </tr>
            <tr>
                <td>
                    simple button<input type="button" value="submit1"/>
                </td>
                <td>
                    submit button<input type="submit" value="submit2" onclick="return checkReg();"/>
                </td>
                <td>
                    reset button<input type="reset" value="reset"/>
                </td>
            </tr>
        </table>
    </form>
    <div>
        <a href="#" onclick="return confirm('confirm?'); ">confirm 1</a>
        <br/>
        <a href="#" onclick="confirmFunction();">confirm function</a>
        <br/>
        <a href="#" onclick="OpenNewPage();">Open New Page</a>
        <br/>
        <a href="#" onclick="closeTab();">close</a>
        <br/>
        <input type="button" value="return" onclick="back();"/>
    </div>

    <div id="divAd" style="display: none">
        <img src="/img/1.png">
    </div>
    <p style="height: 2000px"></p>

    <a id="pageBottom">page bottom</a>
</div>
</body>
</html>
