<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="MyWebServiceSoap1" />
                <binding name="BasicHttpBinding_ICustomService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44337/Remote/mywebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyWebServiceSoap"
                contract="MyWebServiceTest.MyWebServiceSoap" name="MyWebServiceSoap" />
            <endpoint address="http://localhost:8780/Remote/CustomService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomService"
                contract="MyWCFTest.ICustomService" name="BasicHttpBinding_ICustomService" />
        </client>
    </system.serviceModel>
</configuration>