
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebSocket</title>
</head>
<body>
            <h1>WebSocket</h1>
<div>
</div>
</body>
</html>
